File/Folder yang Dihasilkan Python & Lingkungan Virtual
--------------------------------------------------------
pycache/
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
pip-log.txt
pip-delete-this-file.txt
.tox/
.mypy_cache/

IDEs & OS
--------------------------------------------------------
.vscode/
.idea/
.DS_Store
Thumbs.db

