Flask
Flask-PyMongo
Pymongo
python-dotenv  # (Opsional, tapi bagus untuk development lokal)
gunicorn       # PENTING untuk menjalankan Flask di Render
... (dependensi lain seperti Flask-Bcrypt, dsb.)
